@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.article {
    display: flex;
    justify-content:left;
    align-items:center;
    width: 30vw;
    height: 6.5rem;
    color: $color-dark;
    
    //working on making the images the same size
    &__img{
        min-width: 30%;
        max-width: 115px;
        height: 80%;
        border-radius: 5px;
        margin-right:1rem;
    }
    &__infoBar {
        display: flex;
        flex-direction: column;
        line-height: 1.5rem;
        &--title {
            font-weight: 700;
            font-size: 1rem;
            margin-bottom: .75rem;
        }
        &--author {
            font-size: 1rem;
        }
    }
}