@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.articleList {
    border-left: 2px solid $color-light-sec;
    padding: 1rem;
    color: $color-light;
    @include tablet {
        border: none;
    }
    @include desktop {
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
    &__title {
        padding-bottom: 1rem;
        font-weight: 400;
        font-size: 1rem;
        @include desktop {
            margin-bottom: 1rem;
        }
    }

}