@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.articleList {
    border-left: 2px solid $color-light-sec;
    padding-left: 1.5rem;
    color: $color-light;
    padding-top: 2rem;
    width: 23%;
    &__title {
        margin-bottom: 1rem;
        font-weight: 500;
    }

}