@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.commentArea {
    width:100%;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 2px solid $color-light-sec;
        padding: 2rem 1rem;
        &--input{
            width: 90%;
            margin: 0 1rem;//push the side from the userPic and the button
        }
    }
    &__numberComments {
        font-weight: 700;
    }
    &__user {
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        background-image: url(../../assets/Images/Mohan-muruge.jpg);
        background-size: cover;
        display: flex;     
    }
    &__title {
        text-transform: uppercase;
        color: $color-light;
        margin-bottom: .5rem;
        font-size: 1rem;
        font-weight: 500;
    }
    &__input{
        display: flex;
        align-items: center;
        justify-content: left;
        // padding-left: 1rem;
        width: 90%;
        margin: 0 2rem;
        &--input{
            width: 90%;
        }
    }
    &__btn {
        margin: 0 1rem;
        &--div {
            width: 30%;
        }
        
        
    }
}
input {
    // border: 1px solid $color-light-sec;
    padding-left: 1rem;
    &::placeholder {
        color: $color-dark;
    }
}