@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.commentArea {
    width:100%;
    
    &__numberComments {
        margin-bottom: 1rem;
        font-weight: 700;
        @include desktop {
            margin-bottom:0;
        }
    }
}

