@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.hero {
    background-color: $color-dark-sec;
    height: 85vh;
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__video {
        height: 80vh;
        width: 80%;
    }
}
