@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.mainArticle {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    color: $color-dark;
    
    &__div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
        align-items: center;   
        &--left{
            display: flex;
            width: 25%;
            justify-content: space-between;
            align-items: center;
    
        }
        &--right{
            display: flex;
            width: 25%;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 2.5rem;
        margin: 2.5rem 0 1rem;
    }
    &__article{
        margin-top: 1rem;
        line-height: 1.5rem;
        padding-right: 1.5rem;
    }
    &__infoBar {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 2px solid $color-light-sec;
        padding-right: 1.5rem;
        &__div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            width: 30%;
            
        }
        &--author{
            font-weight: 700;
            margin: 1rem 0 1rem;
            font-size: 1rem;
        }
        &--date{
            color: $color-light;
            font-size: 0.9rem;
            
        }
        &--views{
            color: $color-light;
            font-size: 0.9rem;
            display: flex;
            justify-content: center;
            margin-left:.4rem;
           
        }
        &--likes{
            color: $color-light;
            font-size: 0.9rem;
            display: flex;
            justify-content: center;
            margin-left:.4rem;
        }
        &--icon{
            height: 1.2rem;
        }
    }
}