@use '../styles/partials/reset' as *;
@use '../styles/partials/variables' as *;

.uploadVideo {
   
    margin: 0 1rem;
}
.btn__publish {
    width: 100%;
    margin-bottom: 2rem;
}
.btn__cancel {
    background-color: $color-accent;
    color: $color-dark2;
    width: 100%;
    margin-bottom: 2rem;
}