@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    max-width: $desktop-width;
    width: 83%;
    margin: 0 auto; //same as the other items left of nav bar

    &__nav {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: flex-end;
    }
    &__search{
        width: 60%;
        // line-height: 1.5rem;
        margin: 0 2rem; //same as the other items left of nav bar
    }
    &__logo {
        height: 1.75rem;
    }
    &__button {
        display: flex;
        justify-content: left;
        align-items: center;
        border: none;
        background-color: $color-dark2;
        color: $color-accent;
        border-radius: 5px;
        width:10rem;
        padding: .5rem 0 .5rem .5rem;
        margin: 0 2rem; //same as the other items left of nav bar
        &--div{
            width: 35%;
        }
        &--icon {
            height: 1.5rem;
            padding-right: 1.5rem
        }
    }
    &__user {
        margin-left: 2rem; 
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        background-image: url(../../assets/Images/Mohan-muruge.jpg);
        background-size: cover;//same as the other items left of nav bar
        &--div {
            width: 25%;
        }
    }
    
}