@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.upLoadHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0 1rem;
    @include tablet{
        margin: 0 1rem;
    }

    &__title {
        font-size: 2rem;
        color: $color-dark;
        padding: 2rem 0;
        @include tablet {
            font-weight: 700;
        }
        
    }
    &__subtitle {
        text-transform: uppercase;
        color: $color-light;
        font-size: .9rem;
        padding-bottom: .5rem;
    }
    &__div {
        display: flex;
        justify-content: center;
        @include tablet {
            justify-content: flex-start;
        }
        
    }
}